@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    @apply scroll-smooth;
}

body {
    @apply bg-yellow text-black h-full z-50;
}

a {
    @apply cursor-pointer no-underline;
}

p {
    @apply text-paragraph font-sans font-medium;
}

p a {
    @apply underline decoration-inherit;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-kanit font-bold;
}

p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    /* underline decoration should be white */
    @apply bg-black text-white decoration-white;
}

.main {
    @apply w-full flex flex-row relative items-center justify-center;
}

.center {
    @apply w-full relative flex flex-col;
}

.col {
    @apply w-60;
}

.left {
    @apply w-1/2 h-full left-0 flex items-start flex-col justify-center;
}

.right {
    @apply w-1/2 h-full right-0 flex items-start flex-col justify-center; 
}

.left-center {
    @apply w-1/2 h-full left-0 flex items-center flex-col justify-center;
}

.right-center {
    @apply w-1/2 h-full right-0 flex items-center flex-col justify-center; 
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}